extends layout

block content
  
  h1= title
  h4 My Photos
  a.container(href="/newPhoto") Add New Photo

  .row
      each photo in photos
       .col-sm-5
         p Title:  #{photo.title}
         p Description: #{photo.description}
         p Size: #{photo.size} | Filename: #{photo.originalname} | Uploaded: #{photo.createdAt}
         img(src=photo.imageurl, width="250")
         br
         a(href='/photos/'+photo._id) Edit Photo Details
